[Unit]
Description=ExprTest IS frontend

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /home/checker/hsExprTest/; python3 ./src/pyserv/main.py --config /home/checker/hsExprTest/hesperia.yaml --socket-fd 0"
User=checker
Group=checker
Restart=always
RestartSec=2
StandardInput=socket
StandardOutput=journal
StandardError=journal
KillMode=process
KillSignal=USR1
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
