# Modify this file to suit your deployment: you will need to change
# WorkingDirectory, --config, user, and possibly also path to the Python
# interpreter.
# You might need to change socket paths and socket user & group in
# exprtest.socket.
[Unit]
Description=ExprTest IS frontend

[Service]
Type=simple
WorkingDirectory=/home/checker/hsExprTest/
ExecStart=/usr/bin/python3 ./src/core/main.py --config /home/checker/hsExprTest/hesperia.yaml --socket-fd 0
User=checker
Group=checker
Restart=always
RestartSec=2
StandardInput=socket
StandardOutput=journal
StandardError=journal
KillMode=process
KillSignal=USR1
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
