# You might need to change path, user & group here and set proper paths in
# exprtest.service.
[Unit]
Description=ExprTest IS frontend socket

[Socket]
ListenStream=/run/www/exprtest.sock
Accept=false
SocketUser=nginx
SocketGroup=nginx

[Install]
WantedBy=sockets.target
