dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
_build
is*.key

# vim temporaries & spol
*~
.*.swp
.*.swo
.mypy_cache
__pycache__
.stack_work
