language: python
python: 3.7
sudo: true
dist: bionic

cache:
  directories:
    - $HOME/.stack

matrix:
  include:
    - env: GHC=ghc-8.6.5
    - env: GHC=ghc-8.4.4
    - env: GHC=ghc-8.2.2

before_install:
    - sudo add-apt-repository -y ppa:hvr/ghc
    - sudo apt-get update -q
    - sudo apt-get install $GHC cabal-install-3.0 -y
    - PATH=$PATH:/opt/ghc/bin/
    - $GHC --version
    - cabal --version
    - python3.7 --version
    - pip3.7 install aiohttp aiofiles pylibacl pyaml mypy
    - cabal update

script:
    - make build
    - make test
    - if [[ "$GHC" = "ghc-8.6.5" ]]; then make doc; fi

notifications:
  email:
    recipients:
      - xstill@fi.muni.cz
    on_success: change # default: change
    on_failure: always # default: always

addons:
  apt:
    packages:
      - socat
      - curl
      - time
      - libgmp-dev # for the sake of Haskell stack
      - acl
      - libacl1-dev

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  local-dir: _build/doc/html/hsExprTest/
  on:
    branch: master
    condition: "$GHC = ghc-8.6.5"

# vim: expandtab
