<!doctype html>
<html lang=en>
  <head>
	<title>External evaluator for IS</title>
	<link rel="stylesheet" href="stylesheet.css" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Author" content="Vladimír Štill">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    td { padding: 0.2em; }
  </style>
  </head>

  <body>
	<h1>Logs for {{course}}</h1>
  <p>
    Logs by days:<br>
    <table>
      <tr>
    {% for r in rows[0].keys() %}
        <td>{{r}}</td>
    {% endfor %}
      </tr>
    {% for r in rows %}
      <tr>
        {% for val in r.values() %}
          <td>{{val}}</td>
        {% endfor %}
        <td><a href="log_detail;id={{r.id}}">details</a></td>
      </tr>
    {% endfor %}
  </p>
  </body>
</html>
<!-- vim: expandtab tabstop=2 ft=html
-->
