{% extends "admin/base.html.j2" %}
{% block title %}Logs for {{course}}{% endblock %}
{% block body %}
	<h1>Logs for {{course}}</h1>
  <p>
    Logs from {{from}} to {{to}}:<br>
    <table>
      <tr>
        <td>Timestamp</td>
        <td>Author</td>
        <td>Question</td>
        <td>Option</td>
        <td>Mode</td>
        <td>result</td>
        <td></td>
      </tr>
    {% for r in rows %}
      <tr>
        <td>{{r.timestamp}}</td>
        <td>{{ r.author | default("(unknown)", true) }}</td>
        <td><code>{{ r.question }}</code></td>
        <td><code>{{ r.option }}</td>
        <td>{{ "syntax check (hint)" if r.hint else "authorized" }}</td>
        <td class="res{{r.result}}">{{ r.result }}</td>
        <td><a href="log_detail?id={{r.id}}">details</a></td>
      </tr>
    {% endfor %}
{% endblock %}
<!-- vim: expandtab tabstop=2 shiftwidth=2 ft=html
-->
