{% extends "admin/base.html.j2" %}
{% block title %}Logs for {{course}}{% endblock %}
{% block body %}
	<h1>Logs for {{course}}</h1>
  <p>
    <form action="log" method="get">
      Logs from
      <input type="date" name="from" id="from" value="{{from.date()}}">
      <input type="time" name="from_time" value="{{from.time()}}">
      to
      <input type="date" name="to" id="to" value="{{to.date()}}">
      <input type="time" name="to_time" value="{{to.time()}}">
      <input type="submit" value="load">
      <br>
    </form>
    <table>
      <tr>
        <td>Timestamp</td>
        <td>Author</td>
        <td>Question</td>
        <td>Option</td>
        <td>Mode</td>
        <td>result</td>
        <td></td>
      </tr>
    {% for r in rows %}
      <tr>
        <td>{{r.timestamp}}</td>
        <td>{{ r.author | default("(unknown)", true) }}</td>
        <td><code>{{ r.question }}</code></td>
        <td><code>{{ r.option }}</td>
        <td>{{ "syntax check (hint)" if r.hint else "authorized" }}</td>
        <td class="res{{r.result}}">{{ r.result }}</td>
        <td><a href="log_detail?id={{r.id}}">details</a></td>
      </tr>
    {% endfor %}
{% endblock %}
<!-- vim: expandtab tabstop=2 shiftwidth=2 ft=html
-->
