{% extends "admin/base.html.j2" %}
{% block title %}Log summary for {{course}}{% endblock %}
{% block body %}
	<h1>Log summary for {{course}}</h1>
  <p>
    Logs by days:<br>
    {% for date in dates %}
      <a href="log;from={{date.stamp}};to={{date.stamp}}">
          {{date.stamp}} ({{date.count}} entries)
      </a><br>
    {% endfor %}
  </p>
  </body>
{% endblock %}
<!-- vim: expandtab tabstop=2 ft=html
-->
