<!doctype html>
<html lang=en>
  <head>
	<title>External evaluator for IS</title>
	<link rel="stylesheet" href="stylesheet.css" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Author" content="Vladimír Štill">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    pre {
      background-color: #eee;
      padding: 0.2em;
    }
    td { padding: 0.2em; }
  </style>
  </head>

  <body>
	<h1>Logs for {{course}}, evaluation id {{entry.id}}</h1>
  <p>
    author: {{ entry.author | default("(unknown)", true) }}<br>
    question: <code>{{ entry.question}}</code><br>
    option: <code>{{ entry.option }}</code><br>
    mode: {{ "syntax check (hint)" if entry.hint else "authorized" }}<br>
    result: {{ entry.result }}<br>
    timestamp: {{ entry.stamp }}<br>
    student's answer:
    <pre>
      {{- entry.answer -}}
    </pre>

    standard output (sent to student):
    <pre>
      {{- entry.output -}}
    </pre>

    standard error (internal):
    <pre>
      {{- entry.error -}}
    </pre>
  </p>
  </body>
</html>
<!-- vim: expandtab tabstop=2 ft=html
-->
