{% extends "admin/base.html.j2" %}
{% block title %}Logs for {{course}}, evaluation id {{entry.id}}{% endblock %}
{% block body %}
	<h1>Logs for {{course}}, evaluation id {{entry.id}}</h1>
  <p>
    author: {{ entry.author | default("(unknown)", true) }}<br>
    question: <code>{{ entry.question}}</code><br>
    option: <code>{{ entry.option }}</code><br>
    mode: {{ "syntax check (hint)" if entry.hint else "authorized" }}<br>
    result: {{ entry.result }}<br>
    timestamp: {{ entry.stamp }}<br>
    student's answer:
    <pre>
      {{- entry.answer -}}
    </pre>

    standard output (sent to student):
    <pre>
      {{- entry.output -}}
    </pre>

    standard error (internal):
    <pre>
      {{- entry.error -}}
    </pre>
  </p>
  </body>
{% endblock %}
<!-- vim: expandtab tabstop=2 ft=html
-->
