{% extends "admin/base.html.j2" %}
{% block body %}
	<h1>External Evaluator for IS</h1>
  <p>
    There are the following courses currently configured:
    {% for c in config.courses %}
      {% if user in c.authorized %}
      <a href="{{c.name}}/">
      {% endif %}
      {{c.name}}
      {%- if user in c.authorized -%}
      </a>
      {%- endif -%}
      {% if not loop.last %}, {% endif -%}
      {% endfor -%}.<br>
  </p>
  <p>
    Statistics since {{since}}:
    <table>
      <tr>
        <td>Course ID</td>
        <td># of requests</td>
        <td># of cache entries</td>
        <td>cache hit ratio (%)</td>
      </tr>
      {% for row in stats %}
        <tr>
        {% for entry in row %}
          <td>{{entry}}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    <table>
  </p>
{% endblock %}
<!-- vim: expandtab tabstop=2 shiftwidth=2 ft=html
-->
