export FRAG_HOST=frag-db.fi.muni.cz
export PGDATABASE=$FRAG_SUBJECT
export PGHOST=$FRAG_HOST
test -f extra.rc && source extra.rc
test -f local.rc && source local.rc
if [[ $FRAG_USER ]]; then
	export FRAG_USER
	export PGUSER=$FRAG_USER
fi
DIR="$(realpath --relative-to=. $( cd "$( dirname $(readlink -f "${BASH_SOURCE[0]}") )" >/dev/null 2>&1 && pwd ))"
cat <<EOF
Setting up environment for frag and postres utils (psql, pg_dump, etc.)…
Please make sure you are authorized to kerberos (use klist to check and kinit
to setup authentication). For access outside FI MU, see $DIR/README.md.
EOF
